@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Weasel McSpangher Inc.<br/>
    Kendrew Cst<br />
    Joondalup, WA, Australia<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:weaselmc@gmail.com">weaselmc@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:weaselmc@gmail.com">weaselmc@gmail.com</a>
</address>
